FRONTEND_DOMAIN=http://localhost:3000
DB_CONNECT=postgres://user:postgres@localhost:5432/postgres?sslmode=disable
BATCH_TOKEN=batch_token
LINE_CLIENT_ID=line_client_id
LINE_SECRET_ID=line_secret_id
LINE_AUTH_REDIRECT_PATH=/userAccount/register
JWT_SECRET=jwt_secret
